{% extends 'common/base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/bookshelves.css' %}">
{% endblock %}

{% block title %}
  <h1>All Bookshelves</h1>
  <div class="book-search">
        <form method="get" action="{% url 'bookshelf_search' %}">
          <input type="text" name="q" placeholder="Search by title or author..." value="{{ query }}" class="book-search-input">
          <button type="submit" class="book-search-button">Search</button>
        </form>
  </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="bookshelf-cards">
              {% for shelf in bookshelves %}
                 <div class="bookshelf-card">
                     <h3>{{ shelf.title|capfirst}}</h3>
                     <p style="font-size: 14px; color: #3e6a73">Total reviews: {{ shelf.owner.published_reviews }} </p>
                     <img src="{{ shelf.owner.avatar.url }}" alt="{{ shelf.owner.username }}'s avatar" class="avatar-small">
                     <p style="font-size: 12px; color: #3e6a73">{{ shelf.description    }}</p>
                     <p>Age: {{ shelf.owner.age }}</p>
                     <p>Favourite genres: {{ shelf.owner.favourite_genres|lower|default:"N/A" }}</p>
                     <p style="font-size: 10px; color: #d94b41">Created at: {{ shelf.created_at}}</p>
                                   
                     <a href="{% url 'bookshelf_detail' shelf.id %}" class="view-button">View Bookshelf</a>
                 </div>
              {% empty %}
                  <p>No bookshelves found.</p>
              {% endfor %}
        </div>
    </div>
{% endblock %}

