{% extends 'common/base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'css/rate.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
    <h1>Delete Book</h1>
{% endblock %}

{% block content %}
  <div class="rate-container">
    <div class="rate-card">

        <p>Are you sure you want to delete <strong>{{ object.title }}</strong> by {{ object.author }}?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="submit-button">Yes, delete</button>
            <a href="{% url 'bookshelf' %}" class="cancel">Cancel</a>
        </form>
    </div>
  </div>
{% endblock %}