{% extends 'common/base.html' %}
{% load static %}


{% block css_files %}
    
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/bookshelf.css' %}">  
  
{% endblock %}

{% block content %}
{% load rating %}
{% num_range 1 5 as stars %}
    
<h1 style="margin-left:30px;">
  {% if bookshelf_owner %}
    {{ bookshelf_owner.username|capfirst }}'s Bookshelf
  {% else %}
    My Bookshelf
  {% endif %}
</h1>

{% if not bookshelf_owner or bookshelf_owner == request.user %}
    <div class="user-profile-container">
        <div class="user-profile">
            {% if request.user.avatar %}
              <img src="{{ request.user.avatar.url }}" alt="Avatar" class="avatar-img">
            {% endif %}
            <div class="user-info">
              <p><strong>Username:</strong> {{ request.user.username }}</p>
              <p><strong>First Name:</strong> {{ request.user.first_name }}</p>
              <p><strong>Last Name:</strong> {{ request.user.last_name }}</p>
              <p><strong>Email:</strong> {{ request.user.email }}</p>
              <p><strong>Age:</strong> {{ request.user.age }}</p>
              <p><strong>Favourite Genres:</strong> {{ request.user.favourite_genres }}</p>
              <p><strong>Published Reviews:</strong> {{ request.user.published_reviews }}</p>  
            </div>
            <div class="profile-buttons">
              <a href="{% url 'edit_profile' %}" class="edit-btn">Edit Profile</a>
              <a href="{% url 'delete_profile' %}" class="delete-btn">Delete Profile</a>
              <div class="add-book-button">
                <a href="{% url 'book_add' %}">+ Add a New Book</a>
              </div>
            </div>
        </div>
    </div>

{% endif %}

<div class="bookshelf-container">
  {% for obj in books %}
    {% if obj.book %}
    {# Ако е BookshelfItem #}
        {% with b=obj.book %}
            <div class="book-card">
                <p><strong>#{{ forloop.counter }}</strong></p>
                <img src="{{ b.image.url }}" alt="Book cover">
                <h3 class="book-title">{{ b.title }}</h3>
                <p class="book-author">by {{ b.author }}</p>

                Average Rating:
                
                {% with avg=b.avg_rating|default:obj.avg_rating %}
                    
                    {% if avg %}
                        <p>
                            {% for i in stars %}
                                {% if avg|filled:i %}
                                    <span class="stars">★</span>
                                {% else %}
                                    ☆
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>No ratings yet.</p>
                    {% endif %}
                {% endwith %}
                    
                <a href="{% url 'book_rate' b.pk %}">Rate this book</a>
                <p class="book-genre">Genre: {{ b.genre }}</p>
                {% if b.is_recommended %}
                    <p class="recommended-status">⭐ Recommended</p>
                {% else %}
                    <p class="norecommended-status">❌ Not Recommended</p>
                {% endif %}
                <p class="review-text">{{ b.review|truncatechars:150 }}...</p>
                <div class="card-buttons">
                    <a href="{% url 'book_detail' b.pk %}">Read more</a>
                    {% if request.user == b.owner %}
                        <a href="{% url 'book_edit' b.pk %}">Edit</a>
                        <a href="{% url 'book_delete' b.pk %}">Delete</a>
                    {% endif %}
                </div>
            </div>

        {% endwith %}
    {% else %}
    {# Ако е директно Book #}
        {% with b=obj %}
            <div class="book-card">
                <p><strong>#{{ forloop.counter }}</strong></p>
                <img src="{{ b.image.url }}" alt="Book cover">
                <h3 class="book-title">{{ b.title }}</h3>
                <p class="book-author">by {{ b.author }}</p>

                <p class="book-rating">
                    Average Rating:
                    {% with avg=b.avg_rating|default:obj.avg_rating %}
                        {% if avg %}
                            {% for i in stars %}
                                {% if avg|filled:i %}
                                    ⭐
                                {% else %}
                                    ☆
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            No ratings yet.
                        {% endif %}
                    {% endwith %}
                </p>
                <a href="{% url 'book_rate' b.pk %}">Rate this book</a>
                <p class="book-genre">Genre: {{ b.genre }}</p>
                {% if b.is_recommended %}
                    <p class="recommended-status">⭐ Recommended</p>
                {% else %}
                    <p class="norecommended-status">❌ Not Recommended</p>
                {% endif %}
                <p class="review-text">{{ b.review|truncatechars:150 }}...</p>
                <div class="card-buttons">
                    <a href="{% url 'book_detail' b.pk %}">Read more</a>
                    {% if request.user == b.owner %}
                        <a href="{% url 'book_edit' b.pk %}">Edit</a>
                        <a href="{% url 'book_delete' b.pk %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endwith %}
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

   





