{% extends 'common/base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/rate.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}

{% block title %}
    <h1>Rate "{{ book.title }}"</h1>
{% endblock %}

{% block content %}
<div class="rate-container">
    <div class="rate-card">
        <p>Average Rating:
        {% if avg_rating %}
            {{ avg_rating|floatformat:1 }} / 5
        {% else %}
            No ratings yet.
        {% endif %}
        </p>

        {% if user_rating %}
            <p>You have rated: {{ user_rating.rating }} ⭐</p>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <div>
            {% for i in "54321" %}
              <label>
                <input type="radio" name="rating" value="{{ i }}" {% if user_rating and user_rating.rating == i|add:""|add:"0" %}checked{% endif %}>
                {% for j in "12345" %}
                  {% if j|add:""|add:"0" <= i|add:""|add:"0" %}
                    ⭐
                  {% else %}
                    ☆
                  {% endif %}
                {% endfor %}
              </label><br>
            {% endfor %}
          </div>
            <button type="submit">Submit Rating</button>

        </form>
    </div>
</div>

<a href="{% url 'bookshelf' %}">Back to Bookshelf</a>
{% endblock %}
