.rate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.rate-card {
  max-width: 300px;
  background: #3e6a73;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.rate-card p {
  color: #f9f9f9;
  font-size: 20px;

}

.rate-card button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}

.cancel {
  background: #b8372f;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  color: #f9f9f9;
}

.submit-button {
  background: #f9f9f9;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  color: #3e6a73;
}