{% extends 'common/base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button-login">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
{% endblock %}

